body{
    margin: 0;
    box-sizing: border-box;
}


#Home{
    background-image:url('../images/events-heavenly-header.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51 , 0.6);
}

#home-content h2{
    font-size: 60px;
}
#home-content{
    margin-top: 200px;
}

#leftMenu{
    display: flex;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
#leftMenu .anc {
    background-color: rgba(0, 0, 0, 0.531);
    padding: 20px;
}
#leftMenu .anc span{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 10px;
}
#leftMenu .anc span > i{
    cursor: pointer;
    font-size: 24px;
}
#leftMenu .anc span > i:hover{
    color: #D62E33;
}

#leftMenu .openMenue{
    font-size: 36px;
    margin-top: 20px;
    cursor: pointer;
    align-self: flex-start;
    color: #000000;

}
#leftMenu .openMenue > span:hover{
    color: #ffffff;
}
#leftMenu a{
    text-decoration: none;
    color: white;
    padding: 20px 8px 20px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
#leftMenu a:hover{
    color:rgba(214, 46, 51) ;
}


#slideDown{
    
    margin: 100px auto;
    width: 50%;
}
#slideDown h2{
    margin: 0;
}

#slideDown >div{
    display: none;
    padding: 20px;
    line-height: 22px;
    letter-spacing: 1.4px;
    background-color: antiquewhite;
}
#slideDown .toggle{
    padding: 10px;
    /* margin: 0; */
    background-color: rgba(214, 46, 51 , 0.6);
    cursor: pointer;
    color: white;
}


#count{
    background-image: url('../images/invitation-2508607__340.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
}

.count-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51 , 0.6);
    color: white;
}
.container {
    padding: 100px 0px;
}
.tim {
    padding: 50px;
    border: 1px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}

#contact-us .head p {
    color: #777;
    font-weight: 300;
    font-size: 16px;
}
#contact-us .head h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact-us .con-info h3 {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#contact-us i {
    margin-right: 20px;
    color: #777;
}
#contact-us .red {
    color: #D62E33 !important;
}
#contact-us .con-info .social-list {
    margin-top: 60px;
    color: #777;
}
#contact-us .con-info .social-list i {
    margin-right: 10px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
#contact-us form input, #contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}
#contact-us form textarea {
    height: 200px;
    resize: vertical;
}
#chars {
    font-size: 20px;
    color: #D62E33;
}
#contact-us form button {
    background-color: #D62E33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
}
